.App {
  text-align: center;
}

#Name
{
  margin-left: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.childAddComponent
{
margin-top: 10px;

}
.addButton
{
  height: 35px;
  width: auto;
  background-color: gold;
  justify-content: center;

}
h4{
  margin-top: 10px;
  margin-left: 10px;
}
label
{
  margin-right: 5px;
}
#Year
{
  margin-left: 25px;
}
.formClass
{
 display: flexbox;
 align-items: center;
 justify-content: center;
}
.movieCard
{
  width: fit-content;
  height: auto;
  color: goldenrod;
  background-color: white ;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.App-header {
  background-color: #282c34;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
